.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*

build/
dist/
*.egg-info/
*.spec

*.log
logs/

screenshots/
*.png
*.jpg
*.jpeg
*.gif

*.exe
*.msi
*.dll
.pytest_cache/
.pytest_cache/
pytest-cache-files-*/
release/
